/*
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import Helmet from 'react-helmet';

import './style.css';
import './styleM.css';

export default class {{ properCase name }} extends React.PureComponent {
  render() {
    return (
      <div className="container">
        <Helmet title="{{properCase name}}" meta={{curly true}}[ {{curly true}} name: 'description', content: 'Description of {{properCase name}}' {{curly}}]{{curly}}/>

        //Remove this line and you can start writing your code here.
      </div>
    );
  }
}

{{ properCase name }}.contextTypes = {
  router: React.PropTypes.object
};
